.font{
   background: url('https://wallpaperlayer.com/img/2015/6/gaussian-blur-wallpaper-3237-3441-hd-wallpapers.jpg');
color: black;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
text-decoration:none;

margin-right:-8px;
margin-top:-39px;

}

}
.weird{
   font-family:"Amatic SC";
   font-size: 75px;
}
.container-fluid {
  text-align:center;
  font-family:Comic Sans MS;
  font-size: 29px;
 
 
}
.container-fluid2{
  text-align:center;
  font-family:Papyrus,fantasy ;
  font-size: 26px;
  text-decoration: none;
   
  
}

.quote{
  font-family:Comic Sans MS;
  font-size:25px;
}
.author{
  font-family:Papyrus,fantasy;
  font-size:30px;

}
.btn{
     font-family:Comic Sans MS;
     text-align:center;
     background-color:pink;
     width:60%;
     margin-left:auto;
     margin-right:auto;
     border-color:green;
     border-style:solid;
     border-radius:10px;
     margin-top: -20px;
     padding:30px;
     color:blue;
     font-size:45px;
     display:block;
     cursor:pointer;
     outline:none;
     border-radius:90px;
     box-shadow: 10px 10px 10px #888888;
  
}
.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 

 .fa {
  height:70px;
  width:50px;
  text-decoration: none;
  color: #1E74D1;
  margin-right:auto;
  margin-bottom:-50px;
  padding-bottom:-50px;
  margin-top: -70px;
}
.end{
    
   text-align:center;
   font-family:"Amatic SC";
   font-size:30px;
   text-decoration: none;
  
     
}
 
